<!--    Jinja Block for HTML Head, Navbars, and Social Media Cards
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CODAR | Report Filing</title>
    <link rel="icon" type="image/png" sizes="130x130" href="static/assets/img/logo/bprd-sq.png">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/assets/css/faq-styles.css">
    <link rel="stylesheet" href="static/assets/css/main-styles.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 toggled">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="padding-top:3em; padding-bottom:3em;">
                    <div class="sidebar-brand-icon"><img src="static/assets/img/logo/bprd-sq.png" style="height:4.6em;"></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="?platform=twitter"><i class="fab fa-wpforms"></i><span>Form</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-3 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button></div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Cyber Offense Detecting and Reporting (CODAR) Framework</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <a class="card-link" href="?platform=twitter">
                                <div class="card text-white btn-social shadow {% if platform != 'twitter' %} bg-secondary{% else %}bg-info{% endif %} ">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p class="m-0">Twitter</p>
                                                <p class="text-white-50 small m-0">Social Media Service</p>
                                            </div>
                                            <div class="col-xl-3"><i class="icon ion-social-twitter fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <a class="card-link" href="?platform=facebook">
                                <div class="card text-white btn-social shadow {% if platform != 'facebook' %} bg-secondary{% else %}bg-primary{% endif %}">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p class="m-0">Facebook</p>
                                                <p class="text-white-50 small m-0">Social Media Service</p>
                                            </div>
                                            <div class="col-xl-3"><i class="icon ion-social-facebook fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <a class="card-link" href="?platform=viraly">
                                <div class="card text-white btn-social shadow {% if platform != 'viraly' %} bg-secondary{% else %}bg-primary{% endif %} ">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p class="m-0">Viraly</p>
                                                <p class="text-white-50 small m-0">Social Media Service</p>
                                            </div>
                                            <div class="col-xl-3"><i class="icon ion-chatbox fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <a class="card-link" href="?platform=whatsapp">
                                <div class="card text-white btn-social shadow {% if platform != 'whatsapp' %} bg-secondary{% else %}bg-whatsapp{% endif %} ">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p class="m-0">WhatsApp</p>
                                                <p class="text-white-50 small m-0">Messaging Services</p>
                                            </div>
                                            <div class="col-xl-3"><i class="icon ion-social-whatsapp-outline fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <a class="card-link" href="?platform=sms">
                                <div class="card text-white btn-social shadow {% if platform != 'sms' %} bg-secondary{% else %}bg-success{% endif %} ">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p class="m-0">SMS/MMS</p>
                                                <p class="text-white-50 small m-0">Messaging Services</p>
                                            </div>
                                            <div class="col-xl-3"><i class="icon ion-android-textsms fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <a class="card-link" href="?platform=youtube">
                                <div class="card text-white btn-social shadow {% if platform != 'youtube' %} bg-disabled{% else %}bg-danger{% endif %} ">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p class="m-0">YouTube</p>
                                                <p class="text-white-50 small m-0">Video Sharing Platform</p>
                                            </div>
                                            <div class="col-xl-3"><i class="icon ion-social-youtube fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <a class="card-link" href="?platform=instagram">
                                <div class="card text-white btn-social shadow {% if platform != 'instagram' %} bg-disabled{% else %}bg-insta{% endif %} ">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p class="m-0">Instagram</p>
                                                <p class="text-white-50 small m-0">Media Sharing Platform</p>
                                            </div>
                                            <div class="col-xl-3"><i class="icon ion-social-instagram fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <a class="card-link" href="?platform=linkedin">
                                <div class="card text-white btn-social shadow {% if platform != 'linkedin' %} bg-disabled{% else %}bg-primary{% endif %} ">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p class="m-0">LinkedIn</p>
                                                <p class="text-white-50 small m-0">Networking Platform</p>
                                            </div>
                                            <div class="col-xl-3"><i class="icon ion-social-linkedin fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <!-- Main -->
                    </div>
