<!-- For Twitter -->
{% include 'blocks/index-head-nav.html' %}                
{% include 'blocks/faq-main.html' %}
{% include 'blocks/user-details.html' %}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Tweet Preview</p>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label">
                                                <strong>Link to the tweet</strong>
                                            </label>
                                        </div>
                                        <div class="col-xl-8">
                                            <input type="hidden" value="twitter" name="platform">
                                            <input
                                                class="form-control"
                                                type="text"
                                                placeholder="Ex: https://twitter.com/user/status/12345"
                                                name="tweet_link"
                                                id="tweet_link"
                                            >
                                        </div>
                                        <div class="col-xl-2">
                                            <button class="btn btn-primary btn-sm" type="button" onclick="display_tweet()">Preview</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label" for="address">
                                                <strong>Reason</strong>
                                                <br>
                                            </label>
                                        </div>
                                        <div class="col-xl-8">
                                            <select name="crime_type" class="form-control">
                                                <option value="Harrasment" selected>Harrasment and Cyberstalking</option>
                                                <option value="Impersonation">Impersonation</option>
                                                <option value="14">Inappropriate Photographs/Videos</option>
                                                <option value="Masquerading">Masquerading</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    <iframe
                                        id="twitter-widget-2"
                                        style="scrollbar-width: thin;"
                                        seamless=""
                                        frameborder="0"
                                        allowtransparency="true"
                                        allowfullscreen="true"
                                        height="550"
                                        width="550"
                                        src="https://imgur.com/QluleSy.png"
                                    ></iframe>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'blocks/contact-details.html' %}                
{% include 'blocks/index-footer.html' %}
