<!-- For WhatsApp -->
{% include 'blocks/index-head-nav.html' %}        

<div class="row">
   <div class="col">
      <div class="shadow card mb-3">
         <a class="btn btn-link text-left card-header font-weight-bold collapsed" style="color: #5F4C24"data-toggle="collapse" aria-expanded="false" aria-controls="collapse-4" href="#collapse-4" role="button">Frequently Asked Questions (FAQ)</a>
         <div class="collapse" id="collapse-4">
            <div class="card-body">
               <div class="row">
                  <div class="container">
                     <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <h5 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1.  What can constitute online harassment?</a></h5>
                           </div>
                           <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="panel-body">
                                 <ul>
                                    <li>Public actions or threats</li>
                                    <li>False accusations of defamatory nature</li>
                                    <li>Hacking or vandalising the sites of the victim</li>
                                    <li>Sexual remarks</li>
                                    <li>Publish materials so as to defame a person</li>
                                    <li>Personally targeting the victims of crime</li>
                                    <li>Ridicule or humiliate a person in order to gang up against him.</li>
                                    <br />
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">2.  How does Online harassment also encompasses sexual harassment?</a></h5>
                           </div>
                           <div id="collapseTen" class="panel-collapse collapse">
                              <div class="panel-body">
                                 Online harassment also encompasses sexual harassment which is defined under section 2(n) of the Sexual Harassment of Women at Workplace (Prevention, Prohibition, and Redressal) Act 2013 as unwelcome:
                                 <li>physical contact and advances; or</li>
                                 <li>a demand or request for sexual favours; or</li>
                                 <li>making sexually coloured remarks; or
                                 </li>
                                 <li>showing pornography; or</li>
                                 <li>any other unwelcome physical, verbal or non-verbal conduct of sexual nature;</li>
                                 <br />
                              </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">3.  What can constitute Masquerading?</a></h5>
                           </div>
                           <div id="collapseEleven" class="panel-collapse collapse">
                              <div class="panel-body">
                                 <ul>
                                    <li>
                                       <p>A cyberbully may also impersonate another, causing problems in that person&#39;s life. The bully may:</p>
                                       <ul>
                                          <li>Change the target’s online profile to include sexual, racist or other inappropriate things.</li>
                                          <li>Develop a screen name that is similar to the victim’s screen name and then posting rude or hurtful remarks while pretending to be the victim.</li>
                                          <li>Pretend to be someone else in order to lure an unsuspecting person into a fake relationship. This type of activity is often called catfishing.</li>
                                          <li>Set up an account on a social networking site and posting as the victim while saying mean, hurtful or offensive things online.4﻿ Actual photos of the victim may be used to make the account look authentic.</li>
                                          <li>Steal the victim’s password and chatting with other people while pretending to be the victim. The bully will say mean things that offend and anger the victim’s friends or acquaintances.</li>
                                       </ul>
                                    </li>
                                 </ul>
                                 <br />
                              </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">4.  Punishment for cyberstalking &amp; online harassment under the Indian Penal Code (IPC)</a></h5>
                           </div>
                           <div id="collapseFour" class="panel-collapse collapse">
                              <div class="panel-body">
                                 <ul>
                                    <li><strong>Section 354 D</strong> of the Indian Penal Code which was added by the <strong>Criminal Law (Amendment) Act 2013</strong> specifically proscribes the act of <strong>stalking</strong> as Whoever follows
                                       a person and contacts, or attempts to contact such person to foster personal interaction repeatedly, despite a clear indication of disinterest by such person, or whoever, monitors the use by a person of
                                       the Internet, email or any other form of electronic communication, or watches or spies on a person in a manner that results in a <strong>fear of violence or serious alarm or distress in the mind</strong>                                                of such person, or interferes with the mental peace of such person, commits the offence of stalking.
                                    </li>
                                    <li>The victim can also additionally file a case of <strong>defamation</strong> (<strong>Section 499, IPC)</strong> against the offender. The section has bailed out those acts of stalking which are performed for
                                       the purpose of preventing and detecting crime by a person who has been entrusted with such responsibility by the state. Also, instances where pursuing such conduct was reasonable or where the person was
                                       authorised under any act cannot allude to the offence of stalking.
                                    </li>
                                    <li><strong>Section 354A</strong> of IPC punishes offence of <strong>sexual harassment</strong> with 3 years of imprisonment and/or fine.</li>
                                    <li><strong>Section 354C</strong> criminalises the <strong>offence of Voyeurism</strong>. It is defined as the <strong>act of capturing the image of a woman engaging in a private act, and/or disseminating said image, without her consent.</strong>                                                The section prescribes 3 years of imprisonment for the first conviction and 7 years of imprisonment on second conviction along with fine.</li>
                                    <li><strong>Section 503</strong> punishes criminal intimidation as threats made to any person with <strong>injury to her reputation</strong>, either in order to <strong>cause alarm to her</strong>, or to <strong>make her change her course of action regarding anything she would otherwise do/not do</strong>.
                                       The offences <strong>under S. 499 and S. 503</strong> are punishable with imprisonment which may extend to two years, and/or fine.
                                    </li>
                                    <li><strong>Section 509</strong> of IPC comes to your rescue if someone is constantly bugging you with <strong>derogatory verbal abuse because of your gender</strong>. The section provides that any person who utters
                                       any word or makes any sound or gesture, intending that such word, sound or gesture be heard or seen by a woman and insult her modesty, shall be punished with one-year imprisonment and/or fine.
                                    </li>
                                    <li><strong>Section 507</strong> punishes criminal intimidation by an anonymous communication with a term which may extend to two years of imprisonment. <strong>Vengeful posting of images or videos of rape victims is punishable</strong>                                                with imprisonment which may extend to two years and fine <strong>under section 228a of IPC</strong>.</li>
                                 </ul>
                                 <br />
                              </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">5.  The Information Technology Act, 2008</a></h5>
                           </div>
                           <div id="collapseSeven" class="panel-collapse collapse">
                              <div class="panel-body">
                                 <p>The IT Act of 2008 does not directly deal with the offence of stalking.</p>
                                 <ol>
                                    <li><strong>Section 67</strong> prohibits and punishes with imprisonment extending up to three years and fine for the first conviction and to five years and fine upon <strong>second conviction, the publication, transmission and causing of transmission of obscene content.</strong></li>
                                 </ol>
                                 <ol start="2">
                                    <li>
                                       <p><strong>Section 67A</strong> has culled out a special category called material containing a ‘<strong>sexually explicit act</strong>’. The publication, transmission or causing of transmission of such material
                                          is punishable with imprisonment extending up to five years and fine for first conviction and to seven years and fine upon second conviction.
                                       </p>
                                    </li>
                                    <li>
                                       <p><strong>Section 72</strong> of the Act is used to deal with the <strong>offence of stalking</strong> which reads as follows: Any person who, in pursuant of any of the powers conferred under this Act, rules
                                          or regulations made thereunder, has
                                       </p>
                                       <ul>
                                          <li>secured access to any electronic record, book, register, correspondence, information, document or other material</li>
                                          <li>without the consent of the person concerned</li>
                                          <li>discloses such electronic record, book, register, correspondence, information, document or other material to any other person shall be punished with imprisonment for a term which may extend to two years,
                                             or with fine which may extend to one lakh rupees, or with both.
                                          </li>
                                       </ul>
                                    </li>
                                 </ol>
                                 <ol start="3">
                                    <li>
                                       <p><strong>Section 66A</strong> of IT Act, 2008 provides:</p>
                                       <p>Any person who sends, by means of a computer resource or a communication device</p>
                                       <ol>
                                          <li>Any information that is <strong>grossly offensive or has menacing character</strong>; or</li>
                                          <li>Any information which he knows to be false, but for the purpose of <strong>causing annoyance, inconvenience, danger, obstruction, insult, injury, criminal intimidation, enmity, hatred or ill will</strong>,
                                             persistently by making use of such computer resource or a communication device,
                                          </li>
                                          <li>Any electronic mail or electronic mail message for the purpose of <strong>causing annoyance or inconvenience or to deceive or to mislead the addressee or recipient about the origin of such messages</strong>,
                                             shall be punishable with imprisonment for a term which may extend to three years and with fine.
                                          </li>
                                       </ol>
                                    </li>
                                 </ol>
                                 <br />
                              </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">6.  How to lodge a complaint?</a></h5>
                           </div>
                           <div id="collapseEight" class="panel-collapse collapse">
                              <div class="panel-body">
                                 <p>The Information Technology Act provides that notwithstanding anything contained in the Code of Criminal Procedure, 1973, any police officer, not below the rank of a Deputy Superintendent of Police, or any other
                                    officer of the Central Government or a State Government authorised by the Central Government in this behalf may enter any public place and search and arrest without warrant any person found therein who is reasonably
                                    suspected or having committed or of committing or of being about to commit any offence under this Act. (Section 80)
                                 </p>
                                 <p>Cybercrimes do not have a jurisdiction as these crimes committed without any barrier of boundaries. So, you can report a cyber crime to the cybercrime units of any city irrespective of the place where it was committed.</p>
                                 <ul>
                                    <li><strong>Cyber Cells</strong>: Cyber Cells have been established to provide redressal to the victims of cybercrime. These cells function as a part of the criminal investigation department and specifically deal
                                       with internet related criminal activity. If you do not a cyber cell at your place of residence, then you can file an F.I.R in a local police station. You can also approach the commissioner or the judicial
                                       magistrate of your city, if by any reason you are unable to file an F.I.R. Any police station is bound to register an F.I.R., irrespective of its jurisdiction.
                                    </li>
                                    <li><strong>Online Grievance Redressal</strong>: Police is the most notorious law enforcement agency in India when it comes to dealing with women victims. Even when women have easy access to a police station, they
                                       hesitate in reporting the incident to them, under the fear of being harassed and being made to suffer additional ordeal. As a result, such crimes committed against women remain swept under the rug and women
                                       continue to bear the brunt of harassment. So, women who do not want to come out in the open can file a complaint against stalking at the National Commission for Women. The Commission takes up the matter
                                       with the police and expedites the investigation. In cases of serious offences, the commission can set up an inquiry committee to probe into the matter and conduct spot inquiry, collect evidence, and examine
                                       witnesses, summon accused and police records, etc to further the investigation.
                                    </li>
                                    <li><strong>Report to the websites</strong>: Most of the social media websites where users make their accounts provide a reporting mechanism. These websites are obliged under the IT (Intermediary Guidelines) Rules,
                                       2011 to act within 36 hours to disable information related to offending content. The intermediary shall have to preserve such information and associated records for at least ninety days for investigation
                                       purposes. The affected person can bring to the knowledge of the intermediary, any offending content which is hosted, stored, or published on his computer system, in writing or through email signed with electronic
                                       signature.
                                    </li>
                                    <li><strong>Report to CERT</strong>: The Information Technology Amendment Act 2008 has designated the <strong>Indian Computer Emergency Response Team (CERT-IN)</strong> as the national nodal agency for tackling
                                       the issues occurring in tow with computer security threats. They issue guidelines on the procedure, prevention, reporting, and response to cyber incidents, among other functions.
                                    </li>
                                 </ul>
                                 <br />
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <br />
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


<div class="row">
   <div class="col">
      <div class="row">
         <div class="col">
            <div class="card shadow mb-3">
               <div class="card-header py-3">
                  <p class="text-primary m-0 font-weight-bold">Under Construction: The Future</p>
               </div>
               <div class="card-body">
                  <p>Sorry, the page you've requested is under construction. This is majorly because we currently do not posses any legal privileges that allow volume-scraping and downloading potentially DRM and Copyrighted content.
                     But this is technically possible, let's see how.&nbsp;
                  </p>
                  <form>
                     <div class="form-row">
                        <div class="col">
                           <div class="form-row">
                              <div class="col">
                                 <div class="table-responsive">
                                    <table class="table">
                                       <thead>
                                          <tr>
                                             <th>Social Media Platform</th>
                                             <th>How Can it be achieved?</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr>
                                             <td style="text-align: center; min-width:23em">
                                                <div class="form-row">
                                                   <div class="col-lg-1"><i class="fa fa-youtube-play" style="font-size: 2em;color: rgb(216,30,5);padding-right: 2px;"></i></div>
                                                   <div class="col">
                                                      <p style="text-align: left;vertical-align: middle;padding-top: 5px;">&nbsp; &nbsp;<strong>YouTube</strong></p>
                                                   </div>
                                                </div>
                                             </td>
                                             <td>1. <strong>Download the Video</strong> using <a href="https://github.com/ytdl-org/youtube-dl"><strong>YouTube-DL</strong></a>&nbsp;with subtitle (Auto Generated or Provided)<br>2.
                                                <strong>Speech-To-Text Engines</strong> can be used as a fallback to <strong>generate subtitles </strong>for videos unequipped with them.<br>2. <strong>Keyframe Extraction</strong>                                                                                    using <a href="https://github.com/keplerlab/Katna">Katna</a>&nbsp;on the downloaded video.<br>3. <strong>Our Image Classification Model is run on each keyframes.</strong><br>4.
                                                <strong>Our Toxicity Prediction Model</strong> is run on the <strong>downloaded subtitles</strong> for a better detection.&nbsp;&nbsp;
                                             </td>
                                          </tr>
                                          <tr>
                                             <td style="text-align: center;">
                                                <div class="form-row">
                                                   <div class="col-lg-1"><i class="fa fa-linkedin-square" style="font-size: 2em;color: #0072c6;padding-right: 2px;"></i></div>
                                                   <div class="col">
                                                      <p style="text-align: left;vertical-align: middle;padding-top: 5px;">&nbsp;&nbsp;<strong>LinkedIn</strong></p>
                                                   </div>
                                                </div>
                                             </td>
                                             <td>1. Retrieve Post and it's author's information using <a href="https://docs.microsoft.com/en-us/linkedin/shared/integrations/people/profile-api"><strong>LinkedIn Profile API</strong></a><br>2.
                                                Our&nbsp;<strong>Toxicity Prediction</strong>&nbsp;and&nbsp;<strong>Image Classification Model</strong>&nbsp;is run on the contents on the post upon necessity.<br>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td style="text-align: center;">
                                                <div class="form-row">
                                                   <div class="col-lg-1" style="padding-right: 2px;"><i class="fa fa-instagram" style="font-size: 2em;color: #aa0066;padding-right: 2px;"></i></div>
                                                   <div class="col">
                                                      <p style="text-align: left;vertical-align: middle;padding-top: 5px;">&nbsp;&nbsp;<strong>Instgram</strong></p>
                                                   </div>
                                                </div>
                                             </td>
                                             <td>1. Retrieve Post and it's author's information using&nbsp;<a href="https://developers.facebook.com/docs/instagram-basic-display-api"><strong>Instagram Basic Display API</strong></a><strong>.</strong><br>2.
                                                Our&nbsp;<strong>Toxicity Prediction</strong>&nbsp;and&nbsp;<strong>Image Classification Model</strong>&nbsp;is run on the contents on the post upon necessity.
                                             </td>
                                          </tr>
                                          <tr>
                                             <td style="text-align: center;">
                                                <div class="form-row">
                                                   <div class="col-lg-1"><i class="fa fa-envelope" style="font-size: 2em;color: #fca311;padding-right: 2px;"></i></div>
                                                   <div class="col">
                                                      <p style="text-align: left;vertical-align: middle;padding-top: 5px;">&nbsp; &nbsp;<strong>Email</strong></p>
                                                   </div>
                                                </div>
                                             </td>
                                             <td>1. <strong>All standard Email Service Provider provide a facility to download an email in *.EML format.</strong> (If not *.pdf can be a fallback, but might increase the authenticity
                                                process)&nbsp;<br>2.&nbsp; <strong>The *.EML is parsed </strong>and then fed into our&nbsp;<strong>Toxicity Prediction</strong>&nbsp;and&nbsp;<strong>Image Classification Model</strong>&nbsp;is
                                                run on the contents on the post upon necessity.<br>3. According to the 2008 amendment made to the IT Act 2000, <strong>the Indian government is empowered to monitor, intercept and blocking Internet communication </strong>in
                                                the interests of "national security, protecting friendly relations with foreign countries, and in the face of perceived threats to public order." <br>4. This is further
                                                accompanied for <strong>criminal cases </strong>by most company's&nbsp;<strong>Terms of Service</strong> such as <a href="https://policies.google.com/terms/information-requests"><strong>Google's ToS</strong></a><strong>.</strong><br>5.
                                                Therefore, the authenticity of an emails origins can be cross-verified to the highest degree upon necessity.&nbsp;
                                             </td>
                                          </tr>
                                          <tr>
                                             <td style="text-align: center;">
                                                <div class="form-row">
                                                   <div class="col-lg-1"><i class="fa fa-globe" style="font-size: 2em;color: #008cb2;padding-right: 2px;"></i></div>
                                                   <div class="col">
                                                      <p style="text-align: left;vertical-align: middle;padding-top: 5px;"><strong>&nbsp; General Websites</strong></p>
                                                   </div>
                                                </div>
                                             </td>
                                             <td>1. Content of a Webpage is scraped using <a href="https://www.crummy.com/software/BeautifulSoup/"><strong>BeautifulSoup</strong></a>&nbsp;<br>2. Our&nbsp;<strong>Toxicity Prediction</strong>&nbsp;and&nbsp;<strong>Image Classification Model</strong>&nbsp;is
                                                run on the contents on the website upon necessity.<br>3. A high priority&nbsp;<strong>WHOIS</strong>&nbsp;domain lookup can be made to <strong>trace the ownership, Origin IP, Name-servers and tenure of a domain name.</strong>&nbsp;<br><br>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% include 'blocks/index-footer.html' %}
